* {
  outline: 1px solid red;
}

body {
  /*background-image: url('img/bg.gif');*/
  background-size: cover;
  background-color: red;
  margin: 0;
}

.illustration {
  width: 50%;
}

@media screen and (min-width: 480px) {
  body {
    background-color: orange;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: yellow;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: white;
  }
}
