/* testing */
/*
* { outline: 1px solid red; }
#bp_ind { background-color: red; bottom: 0; height: 20px; position: fixed; width: 20px; z-index: 99; }
@media screen and (min-width: 768px) { #bp_ind { background-color: orange; } }
@media screen and (min-width: 992px) { #bp_ind { background-color: yellow; } }
@media screen and (min-width: 1200px) { #bp_ind { background-color: white; } }
*/

/* general */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
  background-color: #82DDB5;
  background-image: url('img/branding-illustration.gif'), url('img/header-bg.jpg');
  background-position: center 400px, top center;
  background-repeat: no-repeat, repeat-x;
  background-size: 120%, auto;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  font-family: sans-serif;
  font-style: italic;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-top: 1.4em;
}

p {
  font-size: 0.9rem;
  line-height: 1.5em;
}

.section {
  margin-left: -2%;
  overflow: hidden;
  width: 104%;
}

.container {
  box-sizing: border-box;
  margin: auto;
  max-width: 980px;
  padding: 2.5em 1.5em;
}

.container ol {
  padding: 0 1em;
}

.container li {
  display: list-item;
  font-size: 0.9em;
  margin-bottom: 1em;
  line-height: 1.2em;
  padding-left: 0.5em;
}

.container .sect_cont {
  width: 100%;
}

.container .sect_cont .col-1 {
  clear: both;
  width: 100%;
}

.container .sect_cont .col-2 {
  width: 100%;
}

.container .sect_cont .col-2:first-child {
  padding-left: 0;
}


/* generic */

.anchor {
  font-size: 0;
  line-height: 0;
  position: relative;
  top: -60px;
}

.larger {
  font-size: 1.1em;
}


/* nav */

#nav {
  background-color: #6B9;
  border-bottom: 1px dashed rgba(20,60,45,0.35);
  box-sizing: border-box;
  overflow: visible;
  height: 108px;
  left: 0;
  margin-left: -2%;
  padding: 0 1.3em;
  position: fixed;
  top: -20px;
  transform: rotate(-1deg);
  width: 104%;
  z-index: 1;
}

#nav .container {
  padding: 0;
}

#nav #main_nav {
  float: left;
  line-height: 1.25em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 2.2em;
  text-align: center;
  transform: rotate(1deg);
  width: 100%;
}

#nav #main_nav li {
  color: #FFF;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  padding-right: 0.8em;
}

.social {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  word-spacing: 0.7em;
}

.social.social-nonmobile {
  display: none;
  margin-top: -5px;
}

.social.social-mobile-header {
  background-color: rgba(255,255,255,0.45);
  box-sizing: border-box;
  height: 150px;
  padding-top: 100px;
  width: 102%;
}

.social.social-mobile-footer {
  display: block;
  padding: 1em 0;
}

.social li {
  display: inline-block;
}

.social img {
  width: 2.4em;
}


/* banner */

#banner {
  height: 100vh;
  line-height: 0;
  overflow: hidden;
}

#banner #branding {
  float: left;
  text-align: center;
}

#banner #branding #jam_title {
  display: inline-block;
  margin: auto;
  min-width: 290px;
  width: 70%;
}

#banner #branding #jam_desc {
  display: inline-block;
  margin: auto;
  padding-left: 10%;
  padding-top: 5px;
  width: 50%;
}

#banner #branding #jam_date {
  display: inline-block;
  margin: auto;
  min-width: 200px;
  padding-bottom: 1em;
  padding-left: 10%;
  width: 50%;
}


/* what */

#what {
  background-color: rgba(205,240,225,0.9);
  color: #378;
  transform: rotate(1deg);
}

#what .container {
  transform: rotate(-1deg);
}

#what .sponsors {
  text-align: center;
}

#what .sponsors img {
  height: 3.2em;
  padding: 0.5em;
}


/* where */

#where {
  background-color: #FFE4F4;
  background-image: url('img/where-map.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1000px;
  border-bottom: 2px solid rgba(170,51,119,0.4);
  border-top: 1px dashed rgba(170,51,119,0.35);
  color: #378;
  height: 400px;
  margin-top: -10px;
  position: relative;
}

#where a {
  display: block;
  height: 100%;
}

#where a:hover {
  background-color: rgba(255,255,255,0.3);
}

#where .container {
  height: 100%;
}

#where h1 {
  color: #A37;
  text-shadow:
   -2px -2px 0 #FFF,
   2px  -2px 0 #FFF,
   -2px  2px 0 #FFF,
   2px   2px 0 #FFF;
}


/* when */

#when {
  background-color: #499;
  background-image: url('img/branding-illustration-characters.gif');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 800px;
  color: #FFF;
  padding-bottom: 5em;
  transform: rotate(1deg);
}

#when .container {
  transform: rotate(-1deg);
}


/* who */

#who {
  background-color: white;
  background-image: url('img/branding-illustration-characters.gif');
  background-position: 120% -650px ;
  background-repeat: no-repeat;
  background-size: 1000px;
  color: #388;
}

#who h1 {
  text-shadow:
   -2px -2px 0 #FFF,
   2px  -2px 0 #FFF,
   -2px  2px 0 #FFF,
   2px   2px 0 #FFF;
}

#who .sect_cont {
  background-color: #FFF;
}


/* conduct */

#conduct {
  background-image: url('img/header-bg.jpg');
  background-repeat: repeat-x;
  border-bottom: 1px dashed rgba(20,60,45,0.35);
  color: #156;
}

#conduct + .social {
  margin-top: 0;
}


/* foonote */

#footnote {
  color: #E43;
  font-size: 0.8em;
  line-height: 1.5em;
  padding-bottom: 1em;
  text-align: center;
}


/* register */

#register_bg {
  background-image: none;
}

#register_bg .social-mobile-header {
  display: none;
}

#register {
  background-image: url('img/header-bg.jpg');
  background-repeat: repeat-x;
  border-bottom: 1px dashed rgba(20,60,45,0.35);
  color: #156;
  padding-top: 3.7em;
}

.register_btn {
  background-color: #EF4833;
  border: 1px dashed rgba(20,60,45,0.35);
  border-radius: 2em;
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 25px auto;
  padding: 25px;
}

.register_sel {
   background-color: #597;
   border: 5px solid #597;
   border-radius: 20px;
   padding: 1px 3px 2px 4px;
}


/* media queries */

@media screen and (min-width: 768px) {
  body {
    background-position: 110% 50px, top center;
    background-size: 65%, auto;
  }

  .container {
    padding-left: 3.5em;
    padding-right: 4em;
  }

  .container h1 {
    float: left;
    text-align: left;
    width: 20%;
  }

  .container .sect_cont {
    float: right;
    margin-bottom: 2em;
    margin-top: -1.2em;
    width: 70%;
  }

  .container .sect_cont .col-2 {
    box-sizing: border-box;
    float: left;
    padding-left: 1em;
    width: 50%;
  }

  .anchor {
    top: -30px;
  }

  .social.social-nonmobile {
    display: block;
  }

  .social.social-mobile-header, .social.social-mobile-footer {
    display: none;
  }

  #nav {
    padding: 0.5em 2em;
    height: 80px;
  }

  #nav #main_nav {
    font-size: 0.95em;
    line-height: 1em;
    text-align: left;
    width: 70%;
  }

  #nav .social {
    padding-top: 2.2em;
    text-align: right;
    width: 25%;
    word-spacing: 0.25em;
  }

  #banner {
    height: auto;
    overflow: visible;
  }

  #banner #branding {
    float: left;
    margin-left: -50px;
    padding-bottom: 70px;
    padding-top: 80px;
    text-align: center;
    width: 50%;
  }

  #what {
    background-image: url('img/branding-illustration-characters.gif');
    background-position: -500px -350px;
    background-repeat: no-repeat;
    background-size: 800px;
    margin-top: 5%
  }

  #what .sponsors {
    text-align: left;
  }

  #where {
    background-size: 102%;
  }

  #where h1 {
    text-align: left;
  }

  #when {
    background-position: center 100px;
  }

  #who {
    background-image: none;
  }
}

@media screen and (min-width: 992px) {
  #nav #main_nav li {
    font-size: 1.1em;
    padding-right: 1.4em;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-position: 110% 30px, top;
    background-repeat: no-repeat, repeat-x;
    background-size: 55%, auto;
  }
}
